<footer class="bg-light text-center py-3">
    <p>&copy; 2024 My Story with Data. Tous droits réservés.</p>
    <p>Développé avec <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> et <a href="https://github.com/geobatpo07" target="_blank">GitHub</a></p>
    <div>
        <a href="https://twitter.com/YourTwitterHandle" target="_blank">Twitter</a> | 
        <a href="https://linkedin.com/in/YourLinkedInProfile" target="_blank">LinkedIn</a>
    </div>
</footer>

<!-- Scripts pour Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
